/dalilaesign.css
/dalilaresume.css
/Email Sign2.html
/Email Signature Broken.html
/Email Signature.html
/esignstyle
/esignstyle.css
/newemailsign.htlm
/Professional_Headshot.png
/resume
/resume.html
/resume2
/Untitled-1.html
/Website